.movie-details-container {
  width: 100%;
  .card {
    width: 100%;
  }
}

.movie-media {
  grid-column: 1/4;
  display: flex;
  justify-content: center;
  align-items: center;
  .poster {
    width: 25%;
  }
  .trailer {
    width: 75%;
    height: 100%;
    margin-left: .5rem;
    border: 1px solid black;
  }
}

.movie-genres {
  margin-top: .5rem;
  grid-column: 1/3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.movie-details {
  width: 100%;
  padding: .75rem;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  //align-items: center;
  //text-align: center;
}



//.movie-details-main {
//  margin-top: .5rem;
//  grid-column: 1/3;
//  display: flex;
//  justify-content: center;
//  align-items: flex-start;
//}
//
//.movie-details-other {
//  display: grid;
//  grid-template-columns: 1fr 1fr;
//}
//
//.details-card {
//  width: 100%;
//  padding-left: .5rem;
//  display: flex;
//  flex-direction: column;
//  justify-content: flex-start;
//  align-items: center;
//}
//
//.genres {
//  display: flex;
//  justify-content: space-around;
//  align-items: center;
//  flex-wrap: wrap;
//  margin-top: 1rem;
//  .card {
//    margin: .25rem;
//  }
//}
//
//.imdb-button {
//  width: 100%;
//  padding: .5rem;
//  margin: .5rem;
//}
//
//.poster {
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  padding: 0 .5rem .5rem .5rem;
//  grid-column: 1/3;
//}
//
//.trailer {
//  grid-column: 1/3;
//  margin: 0 .5rem;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  iframe {
//    width: 100%;
//  }
//}
